@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-magenta-900: #000112;
  --clr-magenta-800: #20212c;
  --clr-magenta-700: #2b2c37;
  --clr-magenta-400: #635fc7;
  --clr-magenta-200: #f4f7fd;

  --clr-red-400: #ea5555;

  --clr-text-grey: #828fa3;

  --clr-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  display: flex;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

#root {
  isolation: isolate;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

main {
  height: calc(100vh - 60px);
}

@media (min-width: 768px) {
  main {
    height: calc(100vh - 76px);
  }
}

* {
  scrollbar-width: inherit;
  scrollbar-color: #868e96 rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: 3px solid rgba(0, 0, 0, 0.25);
}
